*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --big-header: clamp(2.5rem, 2vw, 3.5rem);
    --medium-header: clamp(2rem, 2vw, 2.5rem);
    --small-header:clamp(1.5rem, 2vw, 2rem);
    --paragraph:clamp(1rem, 2vw, 1.5rem);
    --supporting-cta:1.125rem;
    --sub-cta:1rem;
    --text-color:#FFFFFF;
    --bg-color: #181719;
    


} 

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',
    sans-serif;
    background-color: #181719;
    min-height: 100vh;

    color: #FFFFFF;
    
}

img{
    max-width: 100%;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

h1{
    font-family: 'Lora', serif;
    font-size:var(--big-header);
    color: var(--text-color);
    
}

h2{
    font-family:'Lora', serif;
    font-size: var(--medium-header);
    color: var(--text-color);
}

h3{
    font-family: 'Lora', serif;
    font-size:var(--small-header);
    color: var(--text-color);
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: var(--paragraph);
  color: var(--text-color);
  font-weight: 700;
}

p{
 font-family: 'Montserrat', sans-serif;
 font-size: var(--paragraph);
 color: var(--text-color);
 font-weight: 400;
}


.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}



/* Navigation Section */

header {
    color: white;
    padding: 30px 0;
    z-index: 1;
    width: 100%;
}

.header-content{
  display: flex;
  justify-content: space-between;
}


.logo {
    font-weight: 200;
    font-size: 1.125rem;
    font-family: 'Crimson Pro', serif;
    border: 1px solid var(--text-color);
    padding: 5px;

}

.nav {
  position: fixed;
  top: 0;
  right: -100vw;
 height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: #181719;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: .85;
  color: white;
  will-change: transform;
  transition: transform 0.4s ease-in-out;
  
}



.nav--open {
  transform: translateX(-100%);
}

.nav--open + .backdrop {
opacity: 1;
}

.backdrop {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;

  background: rgba(1, 1, 1, 0.5);
  z-index: 2;
  opacity: 0;
  display: none;
}



.nav-item {
 margin-bottom: 1em;
}

.nav-link{
     font-size: 1.5rem;
     font-weight: 500;
     display: inline-block;
     position: relative;

}

.nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform-origin: bottom right;
    will-change: transform;
    transition: transform 250ms ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}

/* HAMBURGER BUTTON */

.hamburger-button {
  background: none;
  border: none;
  position: relative;
  z-index: 10;
}

.hamburger-button__bar {
  height: 3px;
  width: 22px;
  background-color: white;
  margin-top: 4px;
  border-radius: 2px;
  will-change: transition;
  transform-origin: 21px;
   transition: transform 0.4s ease-in-out,
   opacity 0.4s ease-in-out;          /* Animating the hamburger bar */
}

.hamburger-button__bar:nth-child(1) {
  margin-top: 0;
}

/* Making the hamburger bars rotating  */

.hamburger-button--open .hamburger-button__bar:nth-child(1) {
  transform: rotate(-45deg);
}

.hamburger-button--open .hamburger-button__bar:nth-child(2) {
  opacity: 0;
} 

.hamburger-button--open .hamburger-button__bar:nth-child(3) {
  transform: rotate(45deg);
}

/* HERO SECTION */

.hero{
    padding: 10px 0 20px;
}

.hero-sub__cta{
  margin: 0;
}

.material-icons{
  color: white;
  font-size: 48px;
  display: flex;
  align-self: center;
  margin-left: .5em;
  transition: transform 400ms ease-in;
  }

  .material-icons:hover{
    transition: transform 250ms;
    transform: translateX(10px);
  }

  hero-paragraph {
    margin-bottom:0;
    font-weight: bolder;
  }

  .hero-second{
    display: flex;
    margin-bottom:1.5em;
  }

  .hero-grid{
    display: grid;
    grid-template-areas: 
    "image-section-one image-section-one image-section-one image-section-one"
    "image-section-two image-section-two image-section-two image-section-two"
    "image-section-three image-section-three image-section-three image-section-three"
     "hero-card hero-card hero-card hero-card"
    ;
  }

  .interior-img{
    grid-column: image-section-one;
    grid-row: image-section-one / image-section-three;
    width: 100%;
    height: 100%;
  }

  .hero-card{
    grid-column: 2 / 4;
    grid-row: image-section-three-start / hero-card-end;
    padding: 1.5em;
    background-color: #181719;
      /* background-color: coral; */
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      /* width: 70%;
    margin: 0 auto;
    max-width: 400px; */
  }

  .hero-card__top{
    display: flex;
    flex-direction: row;
  }



  .hero-card__img{
    border-radius: 50%;
   width: 50%;
   max-width: 3rem;
  }

  .hero-card__description{
    margin-left: 1.25em;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .hero-card__name{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }

  .hero-card__job{
    margin: .5em 0 0 0 ;
    font-size: 12px;
    font-weight: 500;
    color: #828282;

  }

  .hero-card__caption{
    font-size: 1.125rem;
    max-width: 90%;
    margin-bottom: 0px;
  }

  /* footer section */

  .footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }


  .footer-text{
    color: #A9A9A9;
  }

  .footer-link{
    color: #A9A9A9;
    text-decoration: underline;
    font-weight: bold;
  }



@media(min-width:768px){

  .row {
    display: flex;
    justify-content: space-between;
  }

  .nav{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    right: 0;

  }

  .logo{
    display: flex;
    flex-shrink: 0;
  }



  .hamburger-button{
    display: none;
  } 

  .nav-list{
    display: flex;
    margin: 0;
  }

  .nav-item{
     margin: 0 0 0 2em;
  }

  .nav-link{
    font-size:1.125rem;
  }

  /* Hero Section */

  .hero-text{
    align-self:center;
  }

  .hero-text{
    width: 35%;
  }

  .hero-cta{
    margin: 0;
  }

  .hero-grid{
    width: 50%;
  }

}